.alink {
    /* text-decoration: underline; */
    transition: .3s;
    background-color: #ddd;
    border: #ddd .5rem solid;
    border-radius: 1rem;
}

.alink:hover {
  background-color: #ccc;
    border: #ccc .5rem solid;
}
.shadow {
    transition: all .1s;
}
.shadow:hover {
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}
.resume {
    transition: all .25s;
    padding: .8rem 4rem;
    border-radius: 3rem;
    margin-top: 1rem;
    font-weight: 700;
    margin-bottom: 0;
    border: none;
    background-color: teal;
}
.resume.button.button__primary.secondary {
    background-color: transparent !important;
    border: 1px solid teal;
    color: teal;
}

.resume:hover {
    -webkit-box-shadow: 0px 10px 50px 1px rgba(108, 99, 255, 0.3);
    -moz-box-shadow: 0px 10px 50px 1px rgba(108, 99, 255, 0.3);
    box-shadow: 0px 10px 50px 1px rgba(0, 128, 128, 0.1);
    transform: translateY(-5px);
    background-color: rgb(22, 136, 136);
}

.resume:active {
    background-color: teal;
    transform: scale(0.9) translateY(-5px);

}

.overlay {
    position: absolute;
    width: auto;
    background-color: rgba(255, 255, 255, .95);
    opacity: 0;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.overlay:hover {
    opacity: 1;
}

.step {
    width: 33%;
}
/*.step:hover{
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
}*/

.hero {
    background-image: url(images/evie_default_bg.jpeg);
}

.navbar__logo {
    color: #303030;
}


.navbar {
    background-color: #fff;
}

.navbar__menu {
    -webkit-text-fill-color: #303030;
}

.navbar__inner {
    color: #303030
}

.navbar__menu a {
    color: #303030
}

.navbar__menu a:after {
    display: block;
    content: "";
    border-bottom: 2px solid #707070;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    -webkit-transform .25s ease-in-out;
}

.expanded__content {
    width: 60%;
}

.landing__section:nth-child(odd) {
    background-color: #f5f6f7;
    border-top: 0px solid #eee;
    border-bottom: 0px solid #eee
}

.landing__section {
    background-color: #fafafa;
}

.subtitle {
    font-size: smaller;
}

.expanded__text {
    max-width: 500px;
}

.expanded__title {
    font-size: 3.5rem;
    font-weight: bold;
    color: #303030;
    letter-spacing: .5px;
}

.landing_img {
    transition: .3s ease-in-out;
}

.landing_img:hover {
    transform: translateY(-20px) scale(1.1);
    
}
.landing_img:active {
    transform: translateY(-20px) scale(1.0);

}
.bio {
    border-left: .5rem solid teal;
    padding-left: 2rem;
}
.img {
    cursor: zoom-in;
}

.window {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-transition: all 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.6);
}

.window img {
    height: 88%;
    margin-top: 5.5%;
    align-content: center;
}

.window-show {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
}